################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Conversion.Api/.vs/Conversion.Api
/Conversion.Api/obj
/Conversion.Api/bin/Debug/net6.0
/Conversion.Domain/obj
/Conversion.Infrastructure/obj
/Conversion.Services/obj
/Conversion.Api/bin/Debug/net8.0
/Conversion.Domain/bin/Debug/net8.0
/Conversion.Infrastructure/bin/Debug/net8.0
/Conversion.Services/bin/Debug/net8.0
