################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Conversion.Api/.vs/Conversion.Api
/Conversion.Api/obj
/Conversion.Api/bin/Debug/net6.0
